In [ ]:
#Importando as bibliotecas
import numpy as np
import pandas as pd

In [ ]:
#Lendo o data set
df_bike = pd.read_csv('bike-sharing.csv')
df_bike.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [ ]:
#a. Qual o tamanho desse dataset?
df_bike.shape

(17379, 17)

In [ ]:
#b. Qual a média da coluna windspeed?
df_bike['windspeed'].mean()

0.1900976063064631

In [ ]:
#c. Qual a média da coluna temp?
df_bike['temp'].mean()

0.4969871684216586

In [97]:
#d. Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)?
sel2011 = (df['datetime'] >= '2011-01-01') & (df['datetime'] <= '2011-12-31')

df_2011 = df[selecao]

# atributo para mostrar a quantidade de linha e colunas temos
df_2011.shape

(8645, 17)

In [85]:
#e. Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?
sel2012 = (df['datetime'] >= '2012-01-01') & (df['datetime'] <= '2012-12-31')

df_2012 = df[selecao2]

# atributo para mostrar a quantidade de linha e colunas temos
df_2012.shape

(8734, 17)

In [86]:
#f. Quantas locações de bicicletas foram efetuadas em 2011?
format(df_2011["total_count"].sum(), ",")

'1,243,103'

In [87]:
#g. Quantas locações de bicicletas foram efetuadas em 2012?
format(df_2012["total_count"].sum(), ",")

'2,049,576'

In [88]:
#h. Qual estação do ano contém a maior média de locações de bicicletas?
df.groupby(by='season').total_count.mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

In [89]:
#i. Qual estação do ano contém a menor média de locações de bicicletas?
df.groupby(by='season').total_count.mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

In [90]:
#j. Qual horário do dia contém a maior média de locações de bicicletas?
df.groupby(by='hour').total_count.mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [91]:
#k. Qual horário do dia contém a menor média de locações de bicicletas?
df.groupby(by='hour').total_count.mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [92]:
#l. Que dia da semana contém a maior média de locações de bicicletas?
df.groupby(by='weekday').total_count.mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [94]:
#m. Que dia da semana contém a menor média de locações de bicicletas?
df.groupby(by='weekday').total_count.mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [95]:
#n. Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
df[df.weekday==3].groupby(['hour']).total_count.mean().reset_index(name='Media')

    hour       Media
0      0   34.557692
1      1   15.336538
2      2    7.813725
3      3    4.888889
4      4    4.968750
5      5   25.750000
6      6  107.807692
7      7  303.980769
8      8  488.326923
9      9  238.528846
10    10  131.894231
11    11  152.201923
12    12  193.903846
13    13  185.826923
14    14  170.548077
15    15  181.288462
16    16  272.961538
17    17  513.144231
18    18  494.029126
19    19  357.504854
20    20  256.660194
21    21  194.669903
22    22  143.689320
23    23   83.737864

In [96]:
#o. Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?
df[df.weekday==6].groupby(['hour']).total_count.mean().reset_index(name='Media')

    hour       Media
0      0   94.304762
1      1   67.780952
2      2   50.495238
3      3   22.885714
4      4    7.657143
5      5    8.291262
6      6   21.000000
7      7   45.961905
8      8  114.476190
9      9  186.790476
10    10  263.723810
11    11  328.609524
12    12  375.380952
13    13  385.371429
14    14  381.333333
15    15  382.428571
16    16  366.142857
17    17  334.409524
18    18  292.048077
19    19  239.932692
20    20  180.865385
21    21  156.000000
22    22  139.663462
23    23  115.855769